<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Agent</h3>
  </div>
  <div class="panel-body">
		<%= form_for @agent do |f| %>
			<p>
				<%= f.label :name, "Name" %>
				<%= f.text_field :name, :class => "form-control" %>
			</p>
			<p>
				<%= f.label :tel, "TEL" %>
				<%= f.text_field :tel, :class => "form-control" %>
			</p>
			<p>
				<%= f.submit "Add", :class => "btn btn-default"  %>
			</p>
		<% end %>
	</div>
</div>